.images{
    
    .grid{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }
    .base-bg{
        opacity: 50%;
        position: absolute;
        height: 100vh;
        // width: 100vw;
        object-fit: cover;
        right: 0;
        top: 0;
    }

    .left{
        
        .left-bg{
            position: absolute;
            left: 0;
            top: 0;
            height: 100vh;
        }
        .fish1{
            position: absolute;
            left: 0;
            top: 0;
        }
        .fish2{
            position: absolute;
            left: 0;
            bottom: 0;
        }

        @media only screen and (max-width: 768px) {
            .left-bg{
                position: absolute;
                left: 0;
                top: 0;
                height: 100vh;
                translate: -5em;
            }
            .fish1{
                position: absolute;
                left: 0;
                top: 5em;
                width: 15em;
            }
            .fish2{
                position: absolute;
                left: 0;
                bottom: 3em;
                width: 15em;
            }
        }

        @media only screen and (max-width: 480px) {
            .left-bg{
                display: none;
            }
            .fish1{
                display: none;
            }
            .fish2{
                display: none;
            }
        }
    }

    .right{
        // display: none;
       
        .right-bg{
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
        }
        .right-bg2{
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
        }
        .clouds{
            position: absolute;
            right: 0;
            top: 0;
        }
        .tree{
           position: absolute;
           right: 0;
           top: 0;
        }
        .mb-btm-pattern{
            display: none;
        }

        @media only screen and (max-width: 768px) {
            .right-bg{
                position: absolute;
                right: 0;
                top: 0;
                height: 100vh;
                // width: 12em;
                display: none;
                translate: 10em;
            }
            .right-bg2{
                position: absolute;
                right: 0;
                bottom: 0;
                // height: 15em;
                // display: none;
                translate: 40%;
            }
            .clouds{
                position: absolute;
                right: 0;
                top: 5em;
                width: 25em;
            }
            .tree{
               position: absolute;
               right: 0;
               top: 3em;
               width: 15em;
               display: none;
            }
            // .mb-btm-pattern{
            //     display: none;
            // }
        }

        @media only screen and (max-width: 480px) {
            .right-bg{
                display: none;
            }
            .right-bg2{
                display: none;
            }
            .clouds{
                position: absolute;
                right: 0;
                top: 0;
            }
            .tree{
                position: absolute;
                right: 0;
                top: 5em;
                width: 12em;
                display: none;
            }
            .mb-btm-pattern{
                display: block;
                position: absolute;
                left: 5em;
                bottom: -7em;
                height: 100vw;
                width: 10em;
                rotate: 90deg;
            }
        }
    }
}